<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Verides</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'fotos/logo.png' %}" alt="Logo Verides">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'sobrenos' %}">Sobre Nós</a></li>
                <li><a href="{% url 'contribuir' %}">Contribuir</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'faq_page' %}">Perguntas Frequentes</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <section class="product-details">
            <img src="{% static 'fotos/boneco3.jpg' %}" alt="Boneco Aventureiro">
            <h1>Boneco Aventureiro</h1>
            <p>Preço: R$ 65,00</p>
            <p>Descrição: Boneco ideal para crianças que adoram aventuras e explorar o mundo.</p>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>Verides</h3>
                <p>Abrindo portas para iniciativas socioambientais no mundo digital.</p>
            </div>
            <div class="footer-menu">
                <h3>Menu</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li><a href="{% url 'sobrenos' %}">Sobre Nós</a></li>
                    <li><a href="{% url 'contribuir' %}">Contribuir</a></li>
                    <li><a href="{% url 'contato' %}">Contato</a></li>
                    <li><a href="{% url 'faq_page' %}">Perguntas Frequentes</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contato</h3>
                <div class="footer-icons">
                    <i class="bi bi-telephone"></i>
                    <p>+55 081 99449-8361</p>
                </div>
                <div class="footer-icons">
                    <i class="bi bi-envelope-arrow-up"></i>
                    <p>daniellefabricadeideias@gmail.com</p>
                </div>
                <div class="footer-icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </div>
        <p class="footer-copy">Política de Privacidade | © 2024 Verides - Criar School. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
